
/*------------------navigation bar--------------------*/
.navbar {
  margin-bottom: 0;
  background-color: #f4511e !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.container_nav {
  width: 100vw;
}

@media (min-width: 1200px) {
    .container_nav {
        max-width: 100%;
    }
}


/*-------------------home page-----------------------*/

.jumbotron {
  text-align: center;
  font-family: Montserrat, sans-serif;
  height: 100vh;
}

#jum_color {
  background-color: #f4511e;
  color: #ffffff;
}

.header {
  height: 28%;
  width: 40%;
  background-color: white;
  line-height: 30px;
  color: #f4511e;
  position: relative;
  left: 30%;
  top: 35%;
}

/*---------linking navigation buttons to different parts in the page--------*/
/*NEEDS EDITING AFTER CONTENT IS IN*/

#home {
  background-color: transparent;
  height: 5px;
  width: 5px;
  position: relative;
  top: -10%;
}

#culture {
  background-color: black;
  height: 5px;
  width: 5px;
  position: relative;
  top: -10%;
}

#food {
  background-color: black;
  height: 5px;
  width: 5px;
  position: relative;
  top: -10%;
}

#events {
  background-color: transparent;
  height: 5px;
  width: 5px;
  position: relative;
  top: -10%;
}

#team {
  background-color: transparent;
  height: 5px;
  width: 5px;
  position: relative;
  top: -10%;
}


/*-----------intro page-----------*/

.container {
  margin: 0 auto;
  background: #f9f9f9;
  padding: 25px;
  font-family: Montserrat, sans-serif;
}

@media (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
}

.par_title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.hr {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  border-top: 2px solid #eee;
}

.intro {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.parallax {
  background: url('food.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.white_space {
  height: 27px;
  width: 100%;
  background-color: transparent;
}


/*--------------gallery---------------*/

.container_gal {
  background-color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}



/*-------------------paragraphs--------------------*/

.par {
  max-width: 60%;
  text-align: justify;
  font-family: Montserrat, sans-serif;
  padding: 80px;
}

.par_title {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
}

.par_text {
  font-size: 15px;
  line-height: 1.6;
}

.bg-grey {
  background-color: #f6f6f6;
  width: 100%;
}

.cont_grey {
  background-color: #f6f6f6;
}



/*--------------------Meet the team------------------------------*/

.team {
  width: 60%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: transparent;
}

.team_image {
  width: 100%
}

#team_text {
  width: 100%;
  font-family: Montserrat, sans-serif;
  background-color: white;
}

/* Three columns side by side*/
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.container_team {
  margin: 0 auto;
  background: #f9f9f9;
  padding: 10px 25px 20px 25px;
  font-family: Montserrat, sans-serif;
}

.container_team::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.team_name {
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
}

.title {
  color: grey;
  text-align: left;
}

.team_text {
    text-align: left;
}

.glyphicon {
  color: #f4511e;
}

/*----------------footer---------------*/

.par_footer {
  max-width: 60%;
  text-align: justify;
  font-family: Montserrat, sans-serif;
}

footer .glyphicon {
  font-size: 20px;
  color: #f4511e;
}

.f_text {
  font-family: Montserrat, sans-serif;
  margin-bottom: 30px;
}
