
/*------------------navigation bar--------------------*/
.navbar {
  margin-bottom: 0;
  background-color: #f4511e !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #8c52ff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.container_nav {
  width: 99%;
}

@media (min-width: 1200px) {
    .container_nav {
        max-width: 100%;
    }
}

.button_logo:hover {
  background-color: white;
}

.nav_logo {
  width: 100px;
  position: fixed;
  top: 1%;
  left: 1%;
}



/*-------------------home page-----------------------*/

.jumbotron {
  text-align: center;
  font-family: Montserrat, sans-serif;
  height: 100vh;
}

#jum_color {
  background-color: #f4511e;
  color: #ffffff;
}

.header {
  height: 23%;
  width: 60%;
  background-color: white;
  text-align: center;
  display: inline-block;
  color: #f4511e;
  position: relative;
  top: 35%;
}



/*---------linking navigation buttons to different parts in the page--------*/

#food {
  background-color: transparent;
  height: 5px;
  width: 5px;
  position: absolute;
  top: 93%;
  z-index: 999;
}

#recommendations {
  background-color: transparent;
  height: 5px;
  width: 5px;
  position: absolute;
  top: 300%;
}

#team {
  background-color: transparent;
  height: 5px;
  width: 5px;
  position: absolute;
  top: 421%;
}


/*------------------------universal------------------------*/

.container {
  margin: 0 auto;
  background: #f9f9f9;
  padding: 25px;
  font-family: Montserrat, sans-serif;
}

@media (min-width: 1200px) {
    .container{
      max-width: 80%;
    }
}

.hr {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  border-top: 2px solid #eee;
}

.par_title {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}

.white_space {
  height: 27px;
  width: 100%;
  background-color: transparent;
}

.grey_space {
  height: 27px;
  width: 100%;
  background-color: #f9f9f9;
}

.bg-grey {
  background-color: #f9f9f9;
  width: 100%;
}



/*------------------------intro page-----------------------*/

.intro {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.parallax {
  background: url('food.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

.Logo {
  height: 80vh;
  width: auto;
  position: relative;
  top: 0;
}

@media screen and (max-width: 750px) {
  .Logo {
    position: relative;
    top: 30%;
    width: 80vw;
    height: auto;
  }
}


/*---------------------------gallery--------------------------*/

.container_gal {
  background-color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}


/* -------------------------------Tab----------------------------- */

.container_par {
  margin: 0 auto;
  background: #f9f9f9;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.tab {
  overflow: hidden;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
  position: relative;
  left: 9%;
  max-width: 80vw;
  margin: 10px auto 0 auto;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-bottom: 3px solid #fcdcd2;
  border-radius: 20px 20px 0 0;
}

.tab button:hover {
  background-color: transparent;
  color: #333333;
  border-bottom: 3px solid #f4511e;
  border-radius: 20px 20px 0 0;
}

.tab button.active {
  background-color: white;
  color: #333333;
  border-bottom: 3px solid #f4511e;
  border-radius: 20px 20px 0 0;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}




/*--------------------------paragraphs--------------------------*/

.par {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.overlay_cont {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.event_img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f4511e;
}

.cont_hover:hover .overlay {
  opacity: 1;
}

.overlay_text {
  color: white;
  width: 90%;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .overlay_text {
    color: white;
    width: 90%;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.marktitle {
  position: relative;
  width: 100%;
  text-align: center;
}

.marktext {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80%;
  padding: 25px;
  text-align: center;
  background-color: #8c52ff;
}

@media screen and (max-width: 600px) {
  .marktext {
    font-size: 18px;
    text-align: center;
  }
}


/*--------------------Meet the team------------------------------*/

.team {
  width: 60%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: transparent;
}

.team_image {
  width: 100%
}

#team_text {
  width: 100%;
  font-family: Montserrat, sans-serif;
  background-color: white;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 750px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.container_team {
  margin: 0 auto;
  background: #f9f9f9;
  padding: 10px 25px 20px 25px;
  font-family: Montserrat, sans-serif;
}

.container_team::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.team_name {
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  color: #f4511e;
}

.title {
  color: grey;
  text-align: left;
}

.team_text {
    text-align: left;
}

.glyphicon-envelope {
  color: #8c52ff;
}



/*------------------------------footer----------------------------*/

.par_footer {
  max-width: 60%;
  text-align: justify;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

footer .glyphicon {
  font-size: 20px;
  color: #8c52ff;
}

.fa {
  padding: 5px;
  font-size: 5px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

.fa:hover {
  opacity: 0.7;
  color: white;
}

.fa-facebook {
  background: #f4511e;
  color: white;
}

.fa-instagram {
  background: #f4511e;
  color: white;
}

.fa-twitter {
  background: #f4511e;
  color: white;
}

.f_text {
  font-family: Montserrat, sans-serif;
  margin-bottom: 30px;
}
